.form-button {
  background: #6278f7;
  mix-blend-mode: normal;
  border-radius: 10px;
  padding: 28px 29px;
  border: none;
  cursor: pointer;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  margin: 32px 0;
}

.form-button:hover {
  color: #95ffd4;
}
